body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

#genreSelect {
    display: block;
    margin: 20px auto;
    padding: 10px;
}

#movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie {
    width: 250px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#movieDetails {
    text-align: center;
}
